
.form-card {
    background: rgba(51, 33, 29, 0.9);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0,0,0,0.6);
}


.form-card .card-header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.form-card .card-header h4 {
    color: #DA9F5B;
}


.form-card .card-body {
    padding: 30px;
}

.form-card label,
.form-card .form-label {
    color: #ffffff !important;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
}


.form-card .form-control {
    background: rgba(255,255,255,0.05) !important;
    border: 1px solid rgba(255,255,255,0.3);
    color: #fff !important;
    border-radius: 10px;
    transition: 0.3s;
}


.form-control::placeholder {
    color: rgba(255,255,255,0.7);
}


.form-card .form-control:hover {
    border-color: #DA9F5B;
}


.form-card .form-control:focus {
    border-color: #DA9F5B;
    box-shadow: 0 0 8px rgba(218,159,91,0.5);
    background: rgba(255,255,255,0.05) !important;
    color: #fff !important;
}


input[type="date"] {
    color: #fff;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


.form-card .custom-select {
    background: rgba(255,255,255,0.05) !important;
    color: #fff !important;
    border: 1px solid rgba(255,255,255,0.3);
}

.form-card .custom-select option {
    background: #1a1a1a;
    color: #fff;
}


.select2-container--default .select2-selection--single {
    background-color: rgba(255,255,255,0.05) !important;
    border: 1px solid rgba(255,255,255,0.3);
    height: 50px;
    border-radius: 10px;

    display: flex !important;
    align-items: center;
    padding-left: 10px;
}


.select2-container--default .select2-selection__rendered {
    color: #fff !important;
    line-height: normal !important;
}

.select2-dropdown {
    background-color: #1a1a1a;
    color: #fff;
    border: none;
}


.select2-results__option {
    color: #fff;
}


.select2-results__option--highlighted {
    background-color: #DA9F5B !important;
    color: #000 !important;
}


.form-card .btn {
    border-radius: 25px;
    transition: 0.3s;
}


.form-card .btn:hover {
    transform: scale(1.05);
}


.form-card .btn-primary {
    background-color: #DA9F5B;
    border: none;
}

.form-card .btn-primary:hover {
    background-color: #c58c4d;
}


.form-group {
    margin-bottom: 20px;
}